@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.image-scroller{
   display: flex;
   overflow: hidden;
   animation: opacity ease 0.5s;
   animation-timeline: view();
   animation-range: entry 0%, cover 60%;
}
@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.image{
    object-fit: cover;
    animation: scroll-left 14s linear infinite;
    margin-right: 20px;
    transform: translateY(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.055);
}
@keyframes scroll-left{
    0%{
        transform: translateX(0) translateY(20px);
        /* opacity: 0; */
    }
    100%{
        transform: translateX(-100vw) translateY(20px);
        /* opacity: 1; */
    }
}


.brand{
    animation: slide-cont 8s linear 6s infinite;
    transform: translateY(20px);
}
@keyframes slide-cont {
    0%{
        transform: translateX(0) translateY(20px);
    }
    100%{
        transform: translateX(-50vw) translateY(20px);
    }
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
    padding: 0px 28px;
    align-items: center;
    animation: slide-down 2s ease 0.5s ;
}
@keyframes slide-down{
    from { transform: translateY(0px);
           opacity: 0;
    }
    to{
        transform: translateY(10px);
        opacity: 1;
    }
}
@media screen and (max-width :500px) {
    .logo img{
        width: 94px;
    }
    .navbar ul button img{
        width: 10px;
        height: 7.5px;
    }
    .africa h2{
        max-width: 330px;
        height: 111px;
        font-size: 28px;
        margin: 4px auto;
    }
    .africa p{
        font-size: 14px;
        padding: 0px 0px;
    
        
    }
    .cont{
        padding: 0px 0px;
        max-width: 380px;
        height: 331px;
    }
    .container{
        max-width: 380px;
        height: 433px;
    }
    .check{
        top: 38px;
        max-width: 388px;
        position: relative;
        height: 60px;
        z-index: 1;
        right: 5px;
        margin-left: 0;
        border-radius: 90%
    }
    .heck{
        bottom: 150px;
        max-width: 400px;
        position: relative;
        height: 56px;
        right: 5px;
        margin-left: 0;
    }
    .image{
        width: 400px;
    }
    .branded{
        grid-template-columns: repeat(4, 1fr);
        display: grid;
    }
    .brand{
        animation: none;
        width: 48px;
        height: 24px
    }
    .beamong{
        display: block;
        width: 327px;
    }
    .beamong h3{
        font-size: 24px;
        width: 327px;
        line-height: 32px;
    }
    .animate-clone p{
        width: 327px;
    }
    .Reeplay{
        font-size: 24px;
    }
    .object{
        display: block;
    }
    .easy{
        margin: 40px 45px;
    }
    .covering{
        height: 1012px;
        width: 386px;
        padding: 50px 0px;
    }
    .two{
        width: 375px;
        margin: 0px 0px;
    }
}

.africa{
    animation: slide-up 2s  0.5s;
}
@keyframes slide-up {
    from{
        opacity: 0;
        transform: translateY(35px);
    }
    to{
        opacity: 1;
        transform: translateY(-28px);
    }
}

.animate-fade{
    animation: fade-in  linear 1s;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes fade-in {
    0%{
            transform: translateX(-100px);
            opacity: 0;
    }
}
.animate-clone{
    animation: fade 3s linear 1s ;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes fade{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
}

.side{
    animation: side 3s linear 1s 1;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes side {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
}
.plain{
    animation: plain 3s linear -0.5s 1;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
@keyframes plain{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
}

.socials-container img:nth-child(2) {
    width: 10.5px;
  }