@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.image-scroller{
   display: flex;
   overflow: hidden;
   border-radius: 50px;
}
.image{
    object-fit: cover;
    animation: scroll-left 10s linear infinite;
    margin-right: 20px;
    transform: translateY(20px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.055);
}
@keyframes scroll-left{
    0%{
        transform: translateX(0) translateY(20px);
    }
    100%{
        transform: translateX(-100vw) translateY(20px);
    }
}

.animate-slide-up {
    animation: slide-up 1s ease-out;
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
  
  .animate-slide-left {
    animation: slide-left 1s ease-out;
  }
  
  .animate-slide-right {
    animation: slide-right 1s ease-out;
  }
  
  .delay-100 {
    animation-delay: 100ms;
  }
  
  .animate-pulse {
    animation: pulse 2s infinite;
  }
  
  @keyframes slide-up {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slide-left {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }